.bg-images {
	background-image: url('./assets/StatitsticCard.png');
	background-repeat: no-repeat;
}

.ql-container.ql-snow {
	border: 1px solid rgba(34, 34, 34, 0.2) !important;
	border-radius: 10px !important;
}

.ql-toolbar.ql-snow {
	border: none !important;
	display: flex !important;
	justify-content: end;
}

.background_color {
	background-color: #07ac5e;
}
.box-shadow {
	box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
		rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.bg-image-clip {
	background-image: url('./assets/clipard.svg');
	background-repeat: no-repeat;
}
.rich-text-container {
	all: unset; /* Reset all inherited styles */
}

.page_not_found {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.loader {
	width: 20px;
	height: 20px;
	border: 5px solid #fff;
	border-bottom-color: transparent;
	border-radius: 50%;
	display: inline-block;
	box-sizing: border-box;
	animation: rotation 1s linear infinite;
}

@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.bg-image {
	background-image: url('./assets/banner.png');
	background-repeat: no-repeat;
	background-size: cover; /* Ensures the entire image fits within the container */
	background-position: center; /* Centers the image */
	height: 90vh; /* Adjusted height to 50vh as per your requirement */
	width: 100%;
	margin-top: -100px;
	z-index: -1;
}

.bg-contact {
	background-image: url('./assets/contact.svg');
	background-repeat: no-repeat;
	background-size: cover; /* Ensures the entire image fits within the container */
	background-position: center; /* Centers the image */

	width: 100%;
}

@media screen and (max-width: 768px) {
	.bg-image {
		height: 50vh; /* Adjusted height to 50vh as per your requirement */
		margin-top: 20px;
	}
}

.typing-indicator {
	border: 2px solid #ccc;
	padding: 10px;
	border-radius: 8px;
	background-color: #f0f0f0;
	display: inline-block;
}

.typing-indicator span {
	display: inline-block;
	width: 8px;
	height: 8px;
	background-color: #666;
	border-radius: 50%;
	margin: 0 2px;
	animation: typing 1s infinite;
}

.typing-indicator span:nth-child(2) {
	animation-delay: 0.2s;
}

.typing-indicator span:nth-child(3) {
	animation-delay: 0.4s;
}

@keyframes typing {
	0%,
	80%,
	100% {
		opacity: 0.2;
	}
	40% {
		opacity: 1;
	}
}

/* American Typewriter Regular font */
@font-face {
	font-family: 'American Typewriter';
	src: url('/src/assets/American\ Typewriter\ Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/* Century Gothic font for body or another usage */
@font-face {
	font-family: 'Century Gothic';
	src: url('/src/assets/Century\ Gothic.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/* Use American Typewriter for header */
.header-text {
	font-family: 'American Typewriter', serif;
}

/* Use Century Gothic for body */
.body-text {
	font-family: 'Century Gothic', sans-serif;
}
